<div>
    <div class="topdiv">
        <h1>Add matches</h1></br>
    </div>
    <form action="/matches" method="post" name="add matches" id"matches">
        <div>
            <label for="number">Number of matches</label></br>
            <input name="number" type="text">
        </div>
        <button type="submit">Advance!</button>
    </form>
</div>
