<div>
    <div class="topdiv">
        <h1>Submit matches</h1></br>
    </div>
    <form action="/matches/submit" method="post" id="matches">
        <button type="submit">Submit!</button>
    </form>
</div>
