
<div *ngIf="!isLogged">
  <ol class="breadcrumb">
    <li><a href="#">Register</a></li>
    <li><a href="#">Log in</a></li>
  </ol>
</div>

<div *ngIf="isLogged && isAdmin">
  <ol class="breadcrumb">
    <li><a href="#">Add matches</a></li>
    <li><a href="#">Add results</a></li>
    <li><a href="#">Add teams</a></li>
    <li><a href="#">Log out</a></li>
  </ol>
</div>

<div *ngIf="isLogged && !isAdmin">
  <ol class="breadcrumb">
    <li><a href="#">Predict matches</a></li>
    <li><a href="#">Standing</a></li>
    <li><a href="#">Statistics</a></li>
    <li><a href="#">Log out</a></li>
  </ol>
</div>


<router-outlet></router-outlet>
