<div>
    <div>
        <h2>Log in<h2>
    </div>

    <form action="/login" method="post" name="log in" id="login">
        <div class="field">
            <label>Email Address</label></br>
            <input name="email" type="text">
        </div>

        <div class="field">
            <label>Password</label></br>
            <input name="password" typ="text">
        </div>
        <button type="submit">Advance!</button>
    </form>
</div>
