<div>
    <% @profile = {full_name: 'Kris',
                   email: 'k.koruev@abv.bg',
                   team: "Chelsea" } %>
                   
    <form action="/edit/profile" method="post" id="edit_profile"> 
        <div class="field">
            <label>Full Name: <%= profile[:full_name] %></label></br>
            <input type="text" name="full_name">
        </div>

        <div class="field">
            <label>Email Address: <%= profile[:email] %></label></br>
            <input type="text" name="email">
        </div>

        <div>
            <select name="team" form="edit_profile">    
                <% for team in team_names %>
                    <option value="<%= team %>">
                        <%= team %>
                    </option>
                <% end %>  
            </select>
        </div>

        <button type="submit" class="btn btn-success">Advance!</button>
    </form>

</div>


