<div>
    <% @users = ['Kris',  'John', 'Walker'] %>
    <% standing.each do |user|  %>
        <label><%= user.email %></label><br>
        <label><%= user.points %></label><br>
    <% end %>
</div>
