h1 {
    text-align: center;
}

.topdiv {
    height: 10%;   
    width:100%;  
}

.maindiv {
    width: 100%;
}

.bottomdiv {
    height: 10%;
    width: 100%;
}

.c2{
    position: fixed;
    bottom: 0;
    right: 0;
}​
