<div>
    <div class="topdiv">
        <h1>Wrong email or password</h1></br>
    </div>
    <div class="maindiv">
        <div id="menuleftcontent">
            <ul id="menu">
                <li><a href="/predictions">Predictions</a></li>
                <li><a href="/standing">Standing</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
    <div class="bottomdiv">
    </div>
</div>