<div>
    <div>
        <h2>Log in<h2>
    </div>

    <form name="log in" id="login">
        <div class="field">
            <label>Email Address</label></br>
            <input type="text">
        </div>

        <div class="field">
            <label>Password</label></br>
            <input typ="text">
        </div>
    </form>
</div>
