<div>
    <div class="topdiv">
        <h1>Make your predictions!</h1></br>
    </div>
    <form action="" method="post" id="update">
        <% matches.each do |match| %>
            <label> <%= match.home_team %> </label>
            <label> VS </label>
            <label> <%= match.away_team %> </label>
            <input type="number" name="<%= match.id.to_s + 'home_s' %>">
            <input type="number" name="<%= match.id.to_s + 'away_s' %>">
            </br>
        <% end %> 
        <button type="submit">Submit!</button>
    </form>
</div>
