<div>
    <% @profile = {full_name: 'Kris',
                   email: 'k.koruev@abv.bg' } %>
    <label>Full name: <%= @profile[:full_name] %> </label></br>
    <label>Email: <%= @profile[:email] %> </label>
</div>


