<div>
    <div>
        <h2>Sign up<h2>
    </div>
    
    <form name="sign up" id="register"> 
        <div class="field">
            <label>Full Name</label></br>
            <input type="text">
        </div>

        <div class="field">
            <label>Email Address</label></br>
            <input type="text">
        </div>

        <div class="field">
            <label>Password</label></br>
            <input type="text">
        </div>

        <div class="field">
            <label>Confirm Password</label></br>
            <input type=text">
        </div>
    </form>
</div>
