
<!DOCTYPE html>

<html>

<head>

    <title>My first web page</title>

</head>

<body>
<div>
    <div>
        <h2>Sign up<h2>
    </div>
    
    <form name="sign up" id="register"> 
        <div class="field">
            <label>Full Name</label>
        </div>

        <div class="field">
            <label>Email Address</label>
        </div>

        <div class="field">
            <label>Password</label>
        </div>

        <div class="field">
            <label>Confirm Password</label>
        </div>
    </form>
</div>
</body>

</html>

