<div>
    <div class="topdiv">
        <h1>Premier League prediction game!</h1></br>
        <h1>Admin panel!</h1></br>
    </div>
    <div class="maindiv">
        <div id="menuleftcontent">
            <ul id="menu">
                <li><a href="/teams">Add/Remove teams</a></li>
                <li><a href="/matches">Add matches</a></li>
                <li><a href="/result/update">Update results</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
    <div class="bottomdiv">
    </div>
</div>
