<ol class="breadcrumb">
  <li (click)="predictMatches()"><a>Predict matches</a></li>
  <li (click)="standing()"><a>Standing</a></li>
  <li (click)="statistics()"><a>Statistics</a></li>
  <li (click)="logout()"><a>Log out</a></li>
</ol>


<div>
  <div class="col-md-2">
    Email
  </div>

  <div class="col-md-2">
    Points
  </div>

<br>
<br>
</div>

<div *ngFor="let user of users">
  <div class="col-md-2">
    <label> {{user.email}} </label>
  </div>

  <div class="col-md-2">
    <label> {{user.points}} </label>
  </div>

<br>
<br>
</div>
